@use "../abstract" as utils;

// GENERAL RULES

html,
body {
    overscroll-behavior-y: none;
    min-height: 100vh;
    font-size: utils.$base-base-font-size;
}

// PrimeNG

// Display

.dnone {
    display: none !important;
}

.dflex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.align-start {
    align-items: flex-start !important;
}

.align-center {
    align-items: center !important;
}

.justify-start {
    justify-content: flex-start !important;
}

.justify-end {
    justify-content: flex-end !important;
}

.justify-center {
    justify-content: center !important;
}

.justify-between {
    justify-content: space-between !important;
}

.hide-accessibility {
    position: absolute !important;
    top: -9999rem !important;
    left: -9999rem !important;
}

.gap-8 {
    gap: 8px !important;
}

.gap-16 {
    gap: 16px !important;
}

.gap-24 {
    gap: 24px !important;
}

.gap-32 {
    gap: 32px !important;
}

.flex-1 {
    flex: 1 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-no-wrap {
    flex-wrap: nowrap !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

// Visibility

.hidden {
    visibility: hidden !important;
}

// Scroll

.sidebar-no-scroll {
    overflow: hidden !important;
}

@media screen and (max-width: utils.$base-desktop-break) {
    .sidebar-no-scroll-desktop {
        overflow: hidden !important;
    }
}

.menu-no-scroll {
    overflow: hidden !important;
}

.overflow-x-hidden {
    overflow-x: hidden !important;
}

.scroll-smooth {
    scroll-behavior: smooth !important;
}

// Font

.weight-bold {
    font-weight: bold !important;
}

// Margins

.mr-0 {
    margin-right: 0px !important;
}
.mr-4 {
    margin-right: 4px !important;
}
.mr-8 {
    margin-right: 8px !important;
}
.mr-12 {
    margin-right: 12px !important;
}
.mr-16 {
    margin-right: 16px !important;
}
.mr-24 {
    margin-right: 24px !important;
}
.mr-32 {
    margin-right: 32px !important;
}
.mr-40 {
    margin-right: 40px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}
.mb-4 {
    margin-bottom: 4px !important;
}
.mb-8 {
    margin-bottom: 8px !important;
}
.mb-12 {
    margin-bottom: 12px !important;
}
.mb-16 {
    margin-bottom: 16px !important;
}
.mb-24 {
    margin-bottom: 24px !important;
}
.mb-32 {
    margin-bottom: 32px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

// Dimensions

.height-0 {
    height: 0 !important;
    max-height: 0 !important;
}

// Positions

.p-relative {
    position: relative !important;
}