<div class="sis-home">
  <div class="sis-home__content">
    <div class="sis-home__headers">
      <h1 class="sis-home__h1">ORGANICÉMONOS CONTRA EL RENTISMO</h1>
      <h2 class="sis-home__h2">El momento es ahora</h2>
    </div>
    <div class="sis-home__cta">
      <sis-big-button text="PARTICIPA" styleClass="sis-home__bigbutton" (onClick)="handleParticipa()"></sis-big-button>
      <sis-big-button text="AFÍLIATE" [secondary]="true" styleClass="sis-home__bigbutton"
        (onClick)="handleAfiliate()"></sis-big-button>
    </div>
    <div class="sis-home__video">
      <iframe width="640" height="360" src="https://www.youtube.com/embed/IenFbzUiO38?si=HpE38cS4joA6rlyI"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</div>