<section class="sis-participa">
  <div class="sis-participa__content">
    <header class="sis-participa__headers">
      <h1 class="sis-participa__h1">PARTICIPA</h1>
    </header>
    <div class="sis-participa__workinggroups">
      <p class="sis-participa__paragraph">
        En el Sindicato de Inquilinas e Inquilinos de Sevilla nos organizamos principalmente a través de <span
          style="font-weight: bold;">tres
          comisiones</span>
        permanentes (acción sindical, comunicación y coordinación), junto a las <span
          style="font-weight: bold;">asambleas de lucha y generales</span>
        que realizamos frecuentemente. Si quieres participar en el sindicato y sus
        comisiones o tienes preguntas, puedes escribirnos a
        <span style="font-weight: bold;">inquilinatosevilla{{'@'}}gmail.com</span> o acudir a las asambleas abiertas que
        anunciamos periódicamente.
      </p>
      <div class="sis-participa__groups">
        <div class="sis-participa__group">
          <h2>ACCIÓN SINDICAL</h2>
          <p>La tarea principal en esta comisión es pensar, diseñar y estrategias, desarrollar herramientas y
            asegurarnos
            de que todas las inquilinas que llegan con un conflicto al sindicato puedan resolverlo, pensando siempre en
            colectivo para no quedarnos en la invidualidad del problema e ir más allá cuando sea posible.
          </p>
        </div>
        <div class="sis-participa__group">
          <h2>COMUNICACIÓN</h2>
          <p>Desde comunicación difundimos nuestro trabajo y damos a conocer el sindicato, tanto en redes sociales como
            con los medios y con campañas específicas, ayudando a difundir nuestras tesis y a
            desplazar el relato cultural. Si se te dan bien las redes y te manejas con las herramientas de comunicación,
            ¡te esperamos!
          </p>
        </div>
        <div class="sis-participa__group">
          <h2>COORDINACIÓN</h2>
          <p>El día a día del sindicato y todas las tareas logísticas, de organización y extensión territorial son
            cubiertas por esta comisión. De momento contamos con un único nodo en la ciudad, pero contemplando la opción
            de extendernos a nivel de barrios, distritos y bloques en lucha concretos.
          </p>
        </div>
      </div>
    </div>
    <div class="sis-participa__conflicts">
      <h2 class="sis-participa__h2">ASAMBLEAS DE LUCHA</h2>
      <p class="sis-participa__paragraph">La subida ilegal del alquiler, "el hijo que necesita el piso" o las cláusulas
        abusivas en un contrato de alquiler no son problemas individuales: en todo el territorio, estamos expuestas a
        este tipo de abusos por parte de los rentistas con la permisividad de las instituciones. En las asambleas de
        lucha buscamos, entre todas y de manera activa y no
        asistencialista, hacer frente a estos conflictos y colectivizar los casos individuales con el respaldo del
        sindicato, porque juntas tenemos más fuerza.</p>
      <p class="sis-participa__paragraph">Anunciamos periódicamente la fecha y lugar de nuestras asambleas de lucha en
        nuestras redes sociales y en los canales de Telegram y WhatsApp, por lo que te animamos a seguirnos para estar
        al tanto de nuestra actividad. Si tienes algún problema con tu vivienda, envíanos un correo a <span
          style="font-weight: bold;">inquilinatosevilla{{'@'}}gmail.com</span> para ver cómo podemos, juntas,
        organizarnos.</p>
    </div>
    <div class="sis-participa__action">
      <h2 class="sis-participa__h2">Pasa a la acción</h2>
      <div class="sis-participa__cards">
        <div class="sis-participa__card">
          <h3 class="sis-participa__h3">
            Afíliate al sindicato
          </h3>
          <p class="sis-participa__paragraph">Afiliándote al sindicato podrás participar del día a día de este, decidir
            sobre las líneas de acción y
            estrategias a seguir y tener el respaldo de otras personas para que no estés sola. Además, con tu cuota
            aseguramos nuestra autonomía económica y política para no tener que rendir cuentas a nadie. Pulsa <a
              href="https://poderinquilino.org/afiliate/" target="_blank">aquí</a> para afiliarte.</p>
        </div>
        <div class="sis-participa__card">
          <h3 class="sis-participa__h3">
            Colabora con la caja de resistencia estatal
          </h3>
          <p class="sis-participa__paragraph">Haz una aportación económica para apoyar a quienes se enfrentan a
            desahucios, represalias, o a las personas
            que ya están realizando huelgas de alquileres en otros nodos. Puedes colaborar <a
              href="https://summum.coop57.coop/es/huelgadealquileres" target="_blank">aquí</a>.
          </p>
        </div>
        <div class="sis-participa__card">
          <h3 class="sis-participa__h3">
            Lee nuestro libro "Poder inquilino"
          </h3>
          <p class="sis-participa__paragraph">En este trabajo explicamos la experiencia y trayectoria del Sindicato de
            Inquilinas e Inquilinos, además de
            realizar un repaso por nuestra historia reciente para saber cómo hemos llegado a esta crisis permanente de
            la
            vivienda y qué podemos hacer al respecto. Te animamos a comprarlo en tu librería de barrio, y <a
              href="https://traficantes.net/libros/poder-inquilino" target="_blank">puedes leerlo gratuitamente</a> en
            su
            versión digital.</p>
        </div>
        <div class="sis-participa__card">
          <h3 class="sis-participa__h3">
            Fórmate con la Confederación de Luchas
          </h3>
          <p class="sis-participa__paragraph">La vivienda es uno de los ejes de la policrisis actual, y necesitamos de
            una
            mirada interseccional (laboral,
            feminista, antirracista, antifascita, ecologista...) para abordar el problema. Por eso hemos impulsado la
            Confederación de Luchas, con vídeos y charlas formativas que puedes consultar <a
              href="https://youtube.com/@hacialaconfederaciondeluchas?si=PEXs8DDI8gyH5M5s" target="_blank">en el canal
              de
              Youtube</a>.</p>
        </div>
      </div>
    </div>
    <!-- <div>
      <div class="sis-quienes__text">
        <img src="assets/img/1mayo.jpg" class="sis-quienes__mainpic" />
        <div>
          <p class="sis-quienes__paragraph">Tras varios meses de diálogo entre militantes por el derecho a la vivienda
            en la ciudad y personas afectadas por las subidas de los
            alquileres de los rentistas abusivos, el Sindicato de Inquilinas e Inquilinos de Sevilla nace en
            febrero de 2025 con la intención de articular mejor la respuesta ante los abusos que diaramente sufrimos el
            inquilinato y cualquier otra persona que no tiene el control sobre su vivienda (personas hipotecadas,
            jóvenes sin capacidad de emanciparse, okupas o personas sin hogar).</p>
          <p class="sis-quienes__paragraph sis-quienes__paragraph--highlight">Somos conscientes que el único camino para
            que
            se reconozcan y amplíen nuestros
            derechos es a través de la lucha colectiva.</p>
          <p class="sis-quienes__paragraph">Los sindicatos de inquilinas somos organizaciones de base formadas por
            personas
            atravesadas por el conflicto de
            la vivienda y que se organizan para defender el derecho a una vivienda digna, segura y asequible. Nos
            enfrentamos a los abusos de los grandes propietarios y rentistas en general, a las subidas de alquiler y a
            la precarización de la vida. A través de la organización y la lucha colectiva, hemos logrado frenar
            desahucios,
            negociar rebajas de alquiler y plantar cara a fondos buitre y bancos.</p>
        </div>
      </div>
      <div class="sis-quienes__text2">
        <img src="assets/img/9nov.jpg" class="sis-quienes__secondarypic" />
        <h2 class="sis-quienes__h2">El momento es ahora</h2>
        <p class="sis-quienes__paragraph">
          La situación actual es de total desposesión e impotencia del habitante frente los intereses del mercado
          inmobiliario. Hay múltiples intereses en pugna en el ámbito de la vivienda. Sin embargo, el interés de los
          inquilinos, de las familias que necesitan un hogar, de los habitantes, no aparece por ningún sitio. Para que
          este interés aparezca y se haga valer hace falta en primer lugar organizar a las víctimas del actual sistema
          de provisión de vivienda dentro de una estrategia orientada a su socialización. La idea de sindicato resume
          bastante bien tanto lo que necesitamos como lo que no.
        </p>
        <p class="sis-quienes__paragraph">Puedes profundizar en nuestra posición <a
            href="https://www.elsaltodiario.com/cuadernos-de-trabajo/problema-vivienda-hipotesis-sindical-sevilla"
            target="_blank">en este artículo de El Salto</a>, y te esperamos en el sindicato para organizarnos juntas:
          el momento, es ahora.</p>
      </div>
    </div>
    <div class="sis-quienes__cta">
      <sis-big-button text="PARTICIPA" styleClass="sis-quienes__bigbutton"></sis-big-button>
      <sis-big-button text="AFÍLIATE" [secondary]="true" styleClass="sis-quienes__bigbutton"
        (onClick)="handleAfiliate()"></sis-big-button>
    </div> -->
  </div>
</section>