<div class="sis-quienes">
  <div class="sis-quienes__content">
    <div class="sis-quienes__headers">
      <h1 class="sis-quienes__h1">¿QUIÉNES SOMOS?</h1>
    </div>
    <div>
      <div class="sis-quienes__text">
        <img src="assets/img/1mayo.jpg" class="sis-quienes__mainpic" />
        <div>
          <p class="sis-quienes__paragraph">Tras varios meses de diálogo entre militantes por el derecho a la vivienda
            en la ciudad y personas afectadas por las subidas de los
            alquileres de los rentistas abusivos, el Sindicato de Inquilinas e Inquilinos de Sevilla nace en
            febrero de 2025 con la intención de articular mejor la respuesta ante los abusos que diaramente sufrimos el
            inquilinato y cualquier otra persona que no tiene el control sobre su vivienda (personas hipotecadas,
            jóvenes sin capacidad de emanciparse, okupas o personas sin hogar).</p>
          <p class="sis-quienes__paragraph sis-quienes__paragraph--highlight">Somos conscientes que el único camino para
            que
            se reconozcan y amplíen nuestros
            derechos es a través de la lucha colectiva.</p>
          <p class="sis-quienes__paragraph">Los sindicatos de inquilinas somos organizaciones de base formadas por
            personas
            atravesadas por el conflicto de
            la vivienda y que se organizan para defender el derecho a una vivienda digna, segura y asequible. Nos
            enfrentamos a los abusos de los grandes propietarios y rentistas en general, a las subidas de alquiler y a
            la precarización de la vida. A través de la organización y la lucha colectiva, hemos logrado frenar
            desahucios,
            negociar rebajas de alquiler y plantar cara a fondos buitre y bancos.</p>
        </div>
      </div>
      <div class="sis-quienes__imgtextwrapper">
        <img src="assets/img/9nov.jpg" class="sis-quienes__secondarypic" />
        <div class="sis-quienes__text2">
          <h2 class="sis-quienes__h2">Integración en el territorio</h2>
          <p class="sis-quienes__paragraph">
            El sindicato se integra en la <a href="https://poderinquilino.org/quienes-somos/" target="_blank">red
              estatal
              de Sindicatos de Inquilinas e Inquilinos federados</a> (Asturias,
            Barcelona y Catalunya, Cádiz, Ibiza-Formentera, Madrid, Málaga, Tenerife y Zaragoza)
          </p>
          <p class="sis-quienes__paragraph">A nivel local,
            formamos
            parte del <a href="https://movimientoviviendasevilla.wordpress.com/" target="_blank">Movimiento por la
              Vivienda de Sevilla</a>, formado por los siguientes colectivos:</p>
          <ul>
            <li>Asamblea por la Vivienda de Sevilla</li>
            <li>Barrios Hartos</li>
            <li>Oficina de Okupación</li>
            <li>PAH Sevilla centro y PAH Sevilla Este-Amate</li>
            <li>Punto de Información por la Vivienda (PIVE) Diamantino y Mairena del Aljarafe</li>
            <li>Sindicato por la Vivienda de Sevilla</li>
          </ul>
        </div>
      </div>
      <div class="sis-quienes__text3">
        <h2 class="sis-quienes__h2">El momento es ahora</h2>
        <p class="sis-quienes__paragraph">
          La situación actual es de total desposesión e impotencia del habitante frente los intereses del mercado
          inmobiliario. Hay múltiples intereses en pugna en el ámbito de la vivienda. Sin embargo, el interés de los
          inquilinos, de las familias que necesitan un hogar, de los habitantes, no aparece por ningún sitio. Para que
          este interés aparezca y se haga valer hace falta en primer lugar organizar a las víctimas del actual sistema
          de provisión de vivienda dentro de una estrategia orientada a su socialización. La idea de sindicato resume
          bastante bien tanto lo que necesitamos como lo que no.
        </p>
        <p class="sis-quienes__paragraph">Puedes profundizar en nuestra posición <a
            href="https://www.elsaltodiario.com/cuadernos-de-trabajo/problema-vivienda-hipotesis-sindical-sevilla"
            target="_blank">en este artículo de El Salto</a>, y te esperamos en el sindicato para organizarnos juntas:
          el momento, es ahora.</p>
      </div>
    </div>
    <div class="sis-quienes__cta">
      <sis-big-button text="PARTICIPA" styleClass="sis-quienes__bigbutton"
        (onClick)="handleParticipa()"></sis-big-button>
      <sis-big-button text="AFÍLIATE" [secondary]="true" styleClass="sis-quienes__bigbutton"
        (onClick)="handleAfiliate()"></sis-big-button>
    </div>
  </div>
</div>