<div class="sis-social-bar">
  <div class="sis-social-bar-content">
    <button class="sis-social-bar-button" title="Instagram">
      <i (click)="handleSocialMedia(socialMedia.INSTAGRAM)" class="sis-social-bar-button__icon pi pi-instagram"
        aria-label="instagram"></i>
    </button>
    <button class="sis-social-bar-button" title="Tiktok">
      <i (click)="handleSocialMedia(socialMedia.TIKTOK)" class="sis-social-bar-button__icon pi pi-tiktok"
        aria-label="tiktok"></i>
    </button>
    <button class="sis-social-bar-button" title="Twitter">
      <i (click)="handleSocialMedia(socialMedia.TWITTER)" class="sis-social-bar-button__icon pi pi-twitter"
        aria-label="twitter"></i>
    </button>
    <button class="sis-social-bar-button" title="Telegram">
      <i (click)="handleSocialMedia(socialMedia.TELEGRAM)" class="sis-social-bar-button__icon pi pi-telegram"
        aria-label="telegram"></i>
    </button>
    <button class="sis-social-bar-button" title="WhatsApp">
      <i (click)="handleSocialMedia(socialMedia.WHATSAPP)" class="sis-social-bar-button__icon pi pi-whatsapp"
        aria-label="whatsapp"></i>
    </button>
  </div>
</div>